.dock {
  color: #ffffffa1;
  z-index: 10;
  min-height: 99vh;
  /* height: 100%; */
  /* max-width: 5vw; */
  width: max-content;
  background-color: hsla(0, 0%, 0%, 0.85);
}

.gedit-img-dock {
  background: url("/public/GNOME_Gedit_2018\ \(1\).png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.chrome-img-dock {
  background: url("/public/chrome.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.launcher {
}
