.background {
  background: url("/public/Focal-Fossa-wallpaper.jpg");
  min-height: 100vh;
  min-width: 100vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
